<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-image: url('https://learn-us-east-1-prod-fleet02-xythos.content.blackboardcdn.com/5e28c7792f1ed/676959?X-Blackboard-Expiration=1671159600000&X-Blackboard-Signature=D0pSdWyu9iKSMoyjeqYDBXrAii0i%2BfOXYeiqoZrK1Os%3D&X-Blackboard-Client-Id=167403&response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Foto%2520drone.jpeg&response-content-type=image%2Fjpeg&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEM%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQCyk7waFvubCaQ%2Bp8M1fM%2B1DkmJvcOC5AyOayJoxMliFgIhAPfzyssBKCfeYHbilOPDS6G1Z1GJeA03DGXigRR55U42KtUECPf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQAhoMNjM1NTY3OTI0MTgzIgycVRE2OPjH2C9sBtYqqQQQ1oxt6LoDZhyaeRZ0jEBVsOZdxTglDWoXFGr7mOJrwg4%2B9TAODZ9Sj%2BGUC3PlDjscqiMB10zztsmOL3NGbmRvmoMcYySbrAWrgSVSMrsPrCgEUyTjGsrGZMa3ABK0oo9MuQVSH%2BNhDU6kZC1mu93OlQOgftF0mxsrM88tRTlRKaE6z5mrlkdBuvLQu4TTsL7CqEGxynVvpWCfxgALEiCn1c5D3vNS78E11vMKsAwOMLMuKpdrdBVAg4ac%2BiPvZuAfHKCzpe8cM0YHTOsbrBrnyAGcC%2FrR4O5Qi8jS4Y7PwQFmG8EGd8mchInqsnWkwnVk8Fu5PtulHWrDHBBBDxLhOuopvwvY3Q1fZLXSWAvmEx8%2BHe7vKu%2Bv7TDO%2Byey9rzIOyKCBd1O6s9bvK61LOVaW5tkrJgimhbR%2BTTz7Hl32dUIaDC%2BUX%2Fh2D95DSOdLU1e0PPphheIbzMODxFTBWCHEnSN3eyBJm%2BHcjxi2Ozqfb8bYUY4Faj1Y5INrRfLqyU2lviyPdkbX%2FykF8L%2Fbnm2SxL3dsEIO7QoOzBp2gwALah4SV4MaN%2BJMvpFZFrK8%2BK4J3ub4TYk5h%2BB1Zel1KNy7E5zLzT65ZTCFUUtZP8apjgEPXAWD%2B70%2FvBglALPTq%2FfudjzqsimY3vnK0gJQnG%2Betbu8oq%2BovlYAd5ctnHjCMu%2F7EGh%2Fnckq%2FPvDvwMMqO6v8nkKynl4e3h5eikmsoaWXBftcH27edUMOm37pwGOqgB34Vt3vNqfM2enGNioPGePToJrtqTuqjspSY4SfaA7tgiWULDGCQLkt9uKeG9hR8CtOhIfyhesTWjYBsGxW6ZdbAfu%2BGHFa896jT2gXCkiVAnWJwy5Grvd5HixsNguk0CxaxArPkKWJlrciVNiRG6j2UiorMSzx5D4S%2Fnnmlup0LVfDcxaNl9BFYd3ydL8p4C0WqRRe1SzOljSfsmqsrebj1n8kHqO9sK&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20221215T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=ASIAZH6WM4PLYI7YSBMI%2F20221215%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=a128897434be17e029a59d9d01313470c84a9384510de2ec45361f5141799712')">


    <div>

    </div>


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Home</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Estudiantes matriculados
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">6,432</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Profesores activos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">245</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Cursos cerrados
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Mensajes sin leer
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Metas de matrícula</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        John Rambo <span class="float-right">20%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        El bicho <span class="float-right">40%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        Kendall Waston <span class="float-right">60%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        Son Goku <span class="float-right">80%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        Chuck Norris <span class="float-right">Complete!</span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <!-- Color System -->
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Primary
                            <div class="text-white-50 small">#4e73df</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Success
                            <div class="text-white-50 small">#1cc88a</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Info
                            <div class="text-white-50 small">#36b9cc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Warning
                            <div class="text-white-50 small">#f6c23e</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            Danger
                            <div class="text-white-50 small">#e74a3b</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                        <div class="card-body">
                            Secondary
                            <div class="text-white-50 small">#858796</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-light text-black shadow">
                        <div class="card-body">
                            Light
                            <div class="text-black-50 small">#f8f9fc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-dark text-white shadow">
                        <div class="card-body">
                            Dark
                            <div class="text-white-50 small">#5a5c69</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Certificación de SINAES</h6>
                </div>
                <div class="card-body">
                    <p>
                        Estamos listos para recibir a los pares evaluadores de SINAES. Más información acá.
                    </p>
                    <a target="_blank" rel="nofollow" href="https://www.google.com/">
                        Haga clic aquí
                    </a>
                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">CEPA</h6>
                </div>
                <div class="card-body">
                    <p>
                        No olviden recordarles a los estudiantes sobre el CEPA.
                    </p>
                    <p class="mb-0">
                        El CEPA es una de las herramientas de ULACIT para mejorar continuamente.
                    </p>
                </div>
            </div>

        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>